@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --main-color:#ffffff;
  --second-color:#dc3545;
  --rare-color:#212529;
}

.bg-main-color{
  background-color: var(--main-color);
}
.bg-second-color{
  background-color: var(--second-color);
}
.bg-rare-color{
  background-color: var(--rare-color);
}
.rare-color{
  color: var(--rare-color);
}
.main-color{
  color: var(--main-color);
}
.second-color{
  color: var(--second-color);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




